<h1>Post#index</h1>

<%= link_to 'Sign_in', new_user_session_path %>
<%= link_to 'New post', new_post_path %>
<%= link_to 'Sign out', destroy_user_session_path, data: { "turbo-method": :delete } %>

<% @post.reverse_each do |post| %>
<% user = User.find(post.user_id).name %>
  <h2><%= post.title %></h1>
  <% if user_signed_in?%>
    <p><%= user %></p>
  <% else %>
    <p>Anonim</p>
  <% end %>
  <div><%= link_to 'Show more', post %></div>
<% end %>