<% @post.errors.full_messages_for(:title).each do |message| %>
  <p class="notice">
    <%= message %>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  </p>
<% end %>

<div id='index' class='new-story'>
  <div class='background-white'>
    <%= form_with model: @post do |form| %>
    
      <div class="field">
        <div><%= form.label :title %></div>
        <%= form.text_field :title %>
      </div>
    
      <div class="field">
        <%= form.rich_text_area :content %>
      </div>
    
      <div class="submit">
        <%= form.submit %>
      </div>
    
    <% end %>
  </div>
</div>
